.App {
  font-family: Arial, sans-serif; /* Default font */
}

.app-header {
  background-color: #FFDE36;
  color: black; /* Dark text for contrast */
  text-align: center;
  padding-top: 1px; /* Adjust padding as needed */
  padding-bottom: 20px;
  height: 100vh; /* Full viewport height */
  display: flex;
  flex-direction: column;
  justify-content: center; /* Vertically center content */
  align-items: center;
  font-size: 25px;
}

.main-nav {
  background-color: #FFDE36;
}

.nav-container {
}

.nav-brand {
  color: black;
  font-weight: bold;
  font-size: 30px;
}

.nav-collapse {
  /* Styles for the collapsible part of your navbar */
}

.nav-list {
  list-style: none;
  padding: 0;
  display: flex;
  justify-content: right;
  margin-right: 150px;
}

.nav-item {
  margin: 0 15px;
}

.nav-link {
  text-decoration: none;
  color: inherit;
}

.resume-link {
  /* Styles for your resume link */
}

.download-button {
  background-color: white;
  color: black;
  border-color: black;
  padding: 10px 20px;
  margin: 30px;
  border-radius: 4px;
  cursor: pointer;
  font-weight: bold;
  font-size: 20px;
}

.download-button:hover {
  background-color: black;
  color: white;
}

.section {
  padding: 16px;
}

.light-bg {
  background-color: transparent;
}
